<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (department) {
      <div>
        <h2 data-cy="departmentDetailsHeading"><span jhiTranslate="jhipsterSampleApp.department.detail.title">Department</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="jhipsterSampleApp.department.key">Key</span></dt>
          <dd>
            <span>{{ department.key }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.department.id">Id</span></dt>
          <dd>
            <span>{{ department.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.department.team">Team</span></dt>
          <dd>
            <span>{{ department.team }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.department.position">Position</span></dt>
          <dd>
            @if (department.position) {
              <div>
                <a [routerLink]="['/position', department.position.id, 'view']">{{ department.position.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.department.shiftDemand">Shift Demand</span></dt>
          <dd>
            @if (department.shiftDemand) {
              <div>
                <a [routerLink]="['/shift-demand', department.shiftDemand.id, 'view']">{{ department.shiftDemand.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/department', department.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
