<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (position) {
      <div>
        <h2 data-cy="positionDetailsHeading"><span jhiTranslate="jhipsterSampleApp.position.detail.title">Position</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="jhipsterSampleApp.position.key">Key</span></dt>
          <dd>
            <span>{{ position.key }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.position.id">Id</span></dt>
          <dd>
            <span>{{ position.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.position.leadership">Leadership</span></dt>
          <dd>
            <span>{{ position.leadership }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.position.positionRequirement">Position Requirement</span></dt>
          <dd>
            @if (position.positionRequirement) {
              <div>
                <a [routerLink]="['/position-requirement', position.positionRequirement.id, 'view']">{{
                  position.positionRequirement.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterSampleApp.position.resourcePlan">Resource Plan</span></dt>
          <dd>
            @if (position.resourcePlan) {
              <div>
                <a [routerLink]="['/resource-plan', position.resourcePlan.id, 'view']">{{ position.resourcePlan.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/position', position.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
