<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-position-heading" data-cy="PositionCreateUpdateHeading" jhiTranslate="jhipsterSampleApp.position.home.createOrEditLabel">
        Create or edit a Position
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApp.position.key" for="field_key">Key</label>
          <input type="number" class="form-control" name="key" id="field_key" data-cy="key" formControlName="key" />
        </div>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterSampleApp.position.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApp.position.leadership" for="field_leadership">Leadership</label>
          <input
            type="text"
            class="form-control"
            name="leadership"
            id="field_leadership"
            data-cy="leadership"
            formControlName="leadership"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApp.position.positionRequirement" for="field_positionRequirement"
            >Position Requirement</label
          >
          <select
            class="form-control"
            id="field_positionRequirement"
            data-cy="positionRequirement"
            name="positionRequirement"
            formControlName="positionRequirement"
            [compareWith]="comparePositionRequirement"
          >
            <option [ngValue]="null"></option>
            @for (positionRequirementOption of positionRequirementsCollection; track $index) {
              <option [ngValue]="positionRequirementOption">{{ positionRequirementOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApp.position.resourcePlan" for="field_resourcePlan">Resource Plan</label>
          <select
            class="form-control"
            id="field_resourcePlan"
            data-cy="resourcePlan"
            name="resourcePlan"
            formControlName="resourcePlan"
            [compareWith]="compareResourcePlan"
          >
            <option [ngValue]="null"></option>
            @for (resourcePlanOption of resourcePlansCollection; track $index) {
              <option [ngValue]="resourcePlanOption">{{ resourcePlanOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
